body{
	font-family: Roboto,Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	background: #F4F4F4;
	color: #222;
	margin: 0;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

header{
	background: #26a3ff;
	height: 64px;
	display: flex;
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

main{
	-webkit-box-flex: 1;
	-webkit-flex: auto;
	-ms-flex: auto;
	flex: auto;
}

.nav-link{
	display:block;
}

.nav-item{
	display: block;
	float: left;
	color: rgba(255,255,255,.9);
	padding: 20px 16px;
	text-decoration: none;
	-webkit-transition: background-color 250ms;
	transition: background-color 250ms;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	line-height: 24px;
	font-size: 20pt;
	
}

.nav-list-item{
	display: block;
	margin: 0 0 10px;
	font-size: 18px;
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	border-bottom: 1px solid #E4E4E4;
	padding: 20px;
}

.nav-list-item .header{
	margin:0px;
}

.header{
	display: block;
	margin: 0 0 10px;
	font-size: 18px;
}

p{
	color: #555;
}

code{
	display: inline;
	background-color: #eee;
	padding: 5px;
	border-radius: 3px;
}

img{
	max-width:100%;
	max-height:100%;
}

.container{
	margin: 0 auto;
	padding: 0 20px;
	max-width: 980px;
}

.title {
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 34px;
	width: 100%;
}

.title h1{
	white-space: nowrap;
	font-size: 28px;
	color: rgba(255,255,255,.8);
	font-weight: lighter;
	padding: 0;
	margin: 0;
	text-decoration: none;
	letter-spacing: -.02em;
	line-height: 1.35;
}

.title h1 a{
	color: rgba(255,255,255,.8);
}

.ribbon{
	background: #56b8ff;
	height: 280px;
	margin-bottom: -230px;
}

a {
	color: #56b8ff;
	font-weight: inherit;
}

.nav-link{
	text-decoration:none;
}

.block{
	background: #fff;
	border-radius: 2px;
	margin-bottom: 45px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.block-code{
	display: block;
	white-space: pre;
	overflow: auto;
}

.content{
	padding: 20px;
}